<div class="create-post">
<h1>Create a post</h1>

<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<div class="create-post-form">
<%= form_for @post do |f| %>
  <div class="form-label"><%= f.label :image %><br></div>
  <div class="file-field"><%= f.file_field :image %><br></div>
  <div class="form-label"><%= f.label 'Caption' %><br></div>
  <div class="text-field"><%= f.text_field :title %><br></div>
  <div class="form-label"><%= f.label 'Hashtag' %><br></div>
  <div class="text-field"><%= f.text_field :change_to_hashtag %><br></div>
  <div class="submit-button"><%= f.submit 'Create Post' %>
  </div>

<% end %>
<%= link_to 'Back to profile', user_path(session[:user_id]) %>
</div>
